<div class="product {{product.category}}">
    <img src="{{ product.image }}" alt="{{ product.name }} product image" class="product__image center">
    <div class="product__information">
       <h3 class="product__title">{{ product.name }} <span class="product__published">{{ product.published }}</span></h3>
       <p class="product__author"> by {{product.author}} <span class="product__format">({{product.format}})</span></p>
       <p class="product__caption">{{ product.caption }}<span><a class="btn-expand-caption" href="#">read more</a></span></p>
       {% include product-definition.html %}
    </div>
</div>